body{
	background-color: #000;
    background-image: url(../image/books-2463779_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
   background-color: rgba(0,0,0,0.7);
}

.card{
    height: 70%;
    width: 85%;
    top:15%;
    margin: 0 ;
    margin-left: 100px;
    position: fixed;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    display: flex; 
    z-index: 11;
    
}
.login_box{
   
    height: 100%;
    width: 45%;
    background-color: rgb(32, 31, 31);
   
} 
.lms_image{
    height:100%;
    width: 55%;
    background-image: url(../image/stack-of-books-1001655_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;

  
}
.lms_cover{
    margin-top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}

h1{
    margin-top: 25px;
    text-align: center;
    color:white;
    margin-bottom: 40px;
}
h2{
    margin-top: 25px;
    text-align: center;
    color:white;
    margin-bottom: 40px;
}
p{
    color:white;
    margin-left: 105px;
    font-size: 12px;
}

input{
    justify-content: center;
    width: 60%;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 100px;
}

input[type="text"], input[type="password"]{
    border: none;
    background: transparent;
    border-bottom: 1px solid #f8dc3c;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 14px;
    
}
.status{
	 margin-left:210px;
	  color:red;
	  justify-content:center;
}
span{
	font-size:10px;
}
input[type="submit"]{
    margin-top: 20px;
    display: block;
    border:none;
    outline: none;
    height: 35px;
    color:#fff;
    background: #f8dc3c;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
}

input[type="submit"]:hover {
    border:none;
    outline: none;
    font-weight: bold;
    height: 35px;
    color: #fff;
    font-size: 15px;
    background: #eeb311;
    border-radius: 15px;
    cursor:pointer;
    transition: .3s ease-out;
}
a{
    margin-left: 210px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
a:hover{
    color:#eccc68;
}